.sidebar{
    width: 300px;
    height: 100vh;
    background-color:#1f3470 ;
    border-right: solid 1px black;
    display:  flex;
    padding: 20px;
    flex-direction: column;
}
.navlink{
    border: 1px solid rgb(42, 187, 223);
    margin: 10px 0px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.6s;
}
.navlink:hover{
    background-color:rgb(30, 140, 191);
    color: white;
}